<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" version="4.0">
	<servlet>
		<servlet-name>abc</servlet-name>
		<servlet-class>com.prvn.P1</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>abc</servlet-name>
		<url-pattern>/add</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>asp</servlet-name>
		<servlet-class>com.prvn.P2</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>asp</servlet-name>
		<url-pattern>/as</url-pattern>
	</servlet-mapping>
	
		<servlet>
		<servlet-name>adi</servlet-name>
		<servlet-class>com.prvn.P3</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>adi</servlet-name>
		<url-pattern>/ss</url-pattern>
	</servlet-mapping>
	
		<servlet>
		<servlet-name>ji</servlet-name>
		<servlet-class>com.prvn.P4</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ji</servlet-name>
		<url-pattern>/jk</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>ass</servlet-name>
		<servlet-class>com.prvn.P5</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ass</servlet-name>
		<url-pattern>/a</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>app</servlet-name>
		<servlet-class>com.prvn.P6</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>app</servlet-name>
		<url-pattern>/b</url-pattern>
	</servlet-mapping>
</web-app>